/* CSS Reset */
* { margin:0; padding:0; }

body {
    background: url("../images/back.jpg") repeat-x scroll 0 0 transparent;
    font-family: Arial,Helvetica,sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/back.jpg") repeat-x scroll center 0 #E4E3E4;
    font-family: Arial,Helvetica,sans-serif;

}
#container {
	width:960px;
	margin:130px auto 30px auto;
	padding: 0 10px;
	}
#wrapper1 {
    background: url("../images/back.jpg") no-repeat scroll center 0 transparent;
    margin: auto;
    padding: 250px 50px 30px 0px;
}
#header{
	position:relative;
	width:100%;
}
#header h1 a{
	display:block;
    height:100%;
	width:100%;
}

#nav{
	clear: both;
	height: 35px;
	width: 100%;
}
#nav ul{
	float: left;
}
#nav ul li{
	list-style-type: none;
	display: block;
	height: 35px;
	float: left;
	padding: 0px 1px 0px 0px;
}
#nav ul li a{
	color: #3f3f3f;
	display: block;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	height: 100%;
	line-height: 35px;
	padding: 0 2px 0 18px;
}
#nav li a span{
	display: block;
	float: left;
	height: 100%;
	padding: 0 18px 0 0;
}
#nav li a:hover, #nav li.active a {
    background: url("../images/bgp.jpg") repeat-x scroll left center transparent;
    border-radius: 6px 6px 0 0;
    color: white;
    cursor: pointer;
    text-decoration: none;

}
#nav li.active a span, #nav li a:hover span{
	background: url(../images/bgp.jpg) no-repeat right;
}
#featured{
	margin: 4px 0 0;
	background: black;
	padding: 10px;
	height: 340px;
	width: 1000px;
}
#featured ul{
	float: left;
}
#featured ul li{
	float: left;
	list-style-type: none;
	display: block;
	width: 630px;
}
#featured ul li a{
	display: block;
	height: 340px;
	text-indent: -9999px;
	width: 60px;
}
#featured ul li.ss1 {
	background: url(../images/canteen1.jpg) no-repeat;
}



form#quote{
	  background: url("../images/bgp.jpg") repeat-x scroll 0 0 #B992C7;
	margin: 0px;
	padding:20px;
	float: right;
	width: 300px;
	height: 300px;
}
form#quote h2{
	font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	margin-bottom:10px;
}
form#quote label{
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	display: block;
	float: left;
	width: 100%;
}
form#quote input, form#quote textarea{
	background-color: white;
	border:1px solid red;
	color: red;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 5px 0 8px;
	padding:8px;
	width: 240px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
form#quote textarea{
	height: 15px;
}
form#quote input.btn{
	width: auto;
	border: none;
	padding: 0;
	margin-top: 0;
}



#content{
	margin: 40px 50px 0;
	clear: both;
	font-size: 12px;
	color:cyan;
}

#content .col{
	float: left;
	width: 258px;
	background: url(../images/bgp.jpg) repeat-x;
	height: 133px;
	border: 1px solid #CCC;
	padding: 20px;
	margin-right: 30px;
}
#content .col h2{
	font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #9122B6;
	text-decoration: none;
	margin-bottom: 18px;
}
#content .col h2 span{
	color: #2f2f2f;
}
#content .col img{
	border: solid 1px #d8d8d8;
	padding: 2px;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}
#content .col p{
	margin-bottom: 20px;
	line-height: 17px;
}
#content .col a.readmore{
	font-weight: bold;
	color: yellow;
	text-decoration: underline;
}
#content .col a:hover.readmore{
	text-decoration: none;
}
#content .col.noMargin{
	margin: 0;
	color: cyan;
}
#content .col.fr {
	margin: 0;
	float: right;
}
.clear {
	clear: both;
}


#footer{
	clear: both;
	 background: url("../images/bk.jpg") repeat-x scroll 0 0 transparent;
	height: 80px;
	width: 100%;
	margin-top: 40px;
}
#footerContainer{
	margin: 0px auto 0;
	width: 960px;
	font-size: 12px;
	color: #ddd;
	padding-top: 20px;
	position: relative;
}
#footerContainer p{
	margin: 8px 0 8px;
}
#footerContainer a{
	color: #ddd;
	text-decoration: none;
}
#footerContainer a:hover{
	text-decoration: underline;
}
form#newsletter{
	position: absolute;
	right: 0;
	top: 20px;
	width: 300px;
}
form#newsletter label{
	font-weight: bold;
	color: #fff;
}
form#newsletter input{
	background-color: #fff;
	border:1px solid #ddd;
	color: #666;
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
	margin: 5px 0 0;
	padding: 8px;
	width: 190px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
form#newsletter input.btn{
	width: auto;
	border: none;
	padding: 0;
	margin-left: 3px;
}


/*************custom **************/

.trans_table {
	max-height: 1000px;
    max-width: 1000px;
    overflow: auto;
}